.nft-item {
    width: 233px;
    height: 448px;
    border-radius: 5px;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
}
.nft-item-boder {
    border: 2px solid;
    border-image: linear-gradient(to top, #8c4242, rgba(11, 1, 23, 0) ) 1 100%;
}
.nft-item-img {
    margin: 0 8px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.nft-item-img-img {
    margin: auto;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.nft-item-info {
    margin: 8px 4px 12px 4px;
    /* width: 100%; */
    padding: 0 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.nft-item-name {
    margin-top: 12px;
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
}
.nft-item-info > span {
    display: flex;
}
.nft-item-info > span > span:nth-child(2) {
    flex: 1;
    text-align: right;
    margin: 2px 0;
}
.nft-item-info span {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.nft-item-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.nft-item-btn-disable {
    background: #898989;
    cursor: not-allowed;
}