.header {
    padding: 24px 0px;
    width: 80%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}
.header-left {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    align-items: center;
}
.header-logo {
    height: 50px;
    width: auto;
}
.header-center {
    width: 224px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-right {
    display: flex;
    height: 50px;
    justify-content: flex-end;
}
.header-page-title {
    margin-left: 8px;
}
.header-center > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border: 1px solid #8F929A;
    color: #8F929A;
    text-align: center;
    border-radius: 50%;
}
.header-center > a:hover {
    border: 1px solid #fff;
    color: #fff;
}
.header-page-title > span:first-child {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.header-page-title > span:nth-child(2) {
    font-size: 12px;
    color: #FFFFFF;
}
.header-connect {
    background: linear-gradient(93.87deg, #F6AA17 -5.07%, #B050DA 98.15%);
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    outline: none;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
}
.header-connect:hover {
    background: linear-gradient(93.87deg, #f65617 -5.07%, #c462ee 98.15%);
}
.header-wallet {
    cursor: pointer;
    width: fit-content;
    padding: 8px 12px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.header-wallet-address {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    margin-right: 16px;
    color: #FFFFFF;
}
.header-network-invalid {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    margin-right: 16px;
    color: #ff0000;
}
.header-wallet-icon {
    background: linear-gradient(93.87deg, #F6AA17 -5.07%, #B050DA 98.15%);
    border: 2px solid #FFFFFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    width: 24px;
    height: 24px;
}
.header-detail-account {
    font-size: 0.825rem;
    font-weight: 500;
    color: rgb(108, 114, 132);
    width: 100%;
    border: 1px solid rgb(44, 47, 60);
    border-radius: 20px;
    padding: 24px;
    position: relative;
}
.header-btn-change {
    color: #fff;
    height: 35px;
    width: 100px;
    border-radius: 10px;
    border: none;
    outline: none;

}
.header-wallet-copy {
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;
}
.header-wallet-icon-action {
    margin-right: 4px;
    margin-bottom: -3px;
    color: rgb(108, 114, 132);
}
.header-btn-disconnect {
    width: 100px;
    background: transparent;
    margin: 20px 0 0 50%;
    transform: translate(-50%, 0);
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #F3A35A;
    cursor: pointer;
}
.header-collection {
    color: #fff;
    display: flex;
    align-items: center;
    margin-right: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px){
    .header-wallet {
        padding: 4px 16px;
    }
    .header-wallet-address {
        font-size: 14px;
        line-height: 14px;
    }
    .header-wallet-icon {
        width: 25px;
        height: 25px;
    }
    .header {
        width: 95%;
    }
    .header-center > a {
        width: 30px;
        height: 30px;
    }
    .header-center {
        width: 190px;
    }
  }